@import "styles/colors";

body {
  background-color: $bg-gray-light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-layout-header {
  background: #ffffff;
  box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 10%);
}

.ant-menu-item-selected {
  color: transparent!important;
}

/* Force ant input number to take up all width when used inside col */
.ant-col {
  .ant-picker,
  .ant-input-number {
    width: 100%;
  }
}

// Fix for blurry images on retina https://stackoverflow.com/questions/13347947/css-filter-on-retina-display-fuzzy-images
img {
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.slider {
  .ant-form-item-control-input-content {
    border: 1px solid #9fa6ac75;
    border-radius: 2px;
  }
}

iframe {
  display: none;
}
