@import "styles/colors";
@import "styles/variables";


.title {
  margin-bottom: $spacing-6 !important;
}

.card {
  padding: $spacing-4;
  background-color: $bg-white;
  border: 1px solid #e4e9f2;
  border-radius: 0.25rem;
}

.chartContainer {
  margin-top: $spacing-2;
  margin-bottom: $spacing-6;
}

.listContent {
  max-height: 450px;
  overflow: auto;
  border-top: 1px solid #e4e9f2;
}
.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featureContainer {
  // text-align: center;
}

.countriesContainer {
  margin: $spacing-6 0;
  background-color: $bg-white;
  padding: $spacing-4;
  border: 1px  solid #e4e9f2;
  border-radius: 0.25rem;
}

.globalContainer {
  margin: $spacing-6 0; 
   background-color: $bg-white;
  padding: $spacing-4;
  border: 1px  solid #e4e9f2;
  border-radius: 0.25rem;

  .countryList {
    text-align: left;
  }
  
}


.predictionContainer {
  background-color: $bg-white;
  padding: $spacing-4;
  border: 1px solid #e4e9f2;
  border-radius: 0.25rem;
}


.predictionResult {
  margin: 16px;
  text-align: center;
}
